## Preprocessing

In [217]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [235]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
application_df_copy = application_df.copy()
application_df_copy.drop(columns=['EIN','NAME'],inplace=True,axis=1)

In [236]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
application_df_copy.nunique()

APPLICATION_TYPE             9
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [237]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
application_df_copy['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [238]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
application_types_to_replace = ['T9','T13','T12','T2','T25','T14','T29','T15','T17']
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [239]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
classification_count = application_df['CLASSIFICATION'].value_counts()
classification_count

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [240]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
application_df['CLASSIFICATION'].filter(classification_count[classification_count>1])

17326    C1000
6074     C1400
4837     C1000
1918     C7000
1883     C2000
777      C1000
287      C7000
194      C1000
116      C2000
114      C1700
104      C1000
95       C1000
75       C1000
58       C1000
50       C1000
36       C1000
34       C1000
32       C1000
32       C1000
30       C2000
20       C3000
18       C1000
16       C2000
15       C1200
15       C1200
14       C1000
11       C2000
10       C1200
10       C1200
9        C3000
9        C3000
7        C2000
6        C1000
6        C1000
6        C1000
5        C1200
5        C1200
3        C2000
3        C2000
3        C2000
2        C3000
2        C3000
2        C3000
2        C3000
2        C3000
Name: CLASSIFICATION, dtype: object

In [241]:
application_df_copy.columns

Index(['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE',
       'ORGANIZATION', 'STATUS', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS',
       'ASK_AMT', 'IS_SUCCESSFUL'],
      dtype='object')

In [242]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
df = pd.get_dummies(application_df_copy).astype(int)

In [243]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
y = df['IS_SUCCESSFUL']
x=df

# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE

x_train,x_test,y_train,y_test = train_test_split(
    x,
    y,
    stratify=y,
    random_state=42
)

In [244]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
x_scaler = scaler.fit(x_train)

# Scale the data
X_train_scaled = x_scaler.transform(x_train)
x_test_scaled = x_scaler.transform(x_test)

In [258]:
X_train_scaled.shape

(25724, 109)

In [250]:
y_train.shape

(25724,)

## Compile, Train and Evaluate the Model

In [259]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=80,input_dim=109))
# Second hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=30,activation='relu'))
# Output layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=1,activation='sigmoid'))
# Check the structure of the model
nn.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_11 (Dense)            (None, 80)                8800

 dense_12 (Dense)            (None, 30)                2430

 dense_13 (Dense)            (None, 1)                 31

=================================================================
Total params: 11261 (43.99 KB)
Trainable params: 11261 (43.99 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [260]:
# Compile the model
#  YOUR CODE GOES HERE
nn.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy'])

In [261]:
x_test_scaled

array([[ 0.01079982, -0.04191145, -1.06708782, ..., -0.07450354,
         0.02925687, -0.02925687],
       [ 0.01079982, -0.04191145, -1.06708782, ..., -0.07450354,
         0.02925687, -0.02925687],
       [ 0.01079982, -0.04191145,  0.93712999, ..., -0.07450354,
         0.02925687, -0.02925687],
       ...,
       [ 0.01079982, -0.04191145, -1.06708782, ..., -0.07450354,
         0.02925687, -0.02925687],
       [ 0.01079982, -0.04191145,  0.93712999, ..., -0.07450354,
         0.02925687, -0.02925687],
       [ 0.01079982, -0.04132626,  0.93712999, ..., -0.07450354,
         0.02925687, -0.02925687]])

In [262]:
import numpy as np
y_train = np.array(y_train)
y_train= y_train.reshape(-1,1)
y_train.shape

(25724, 1)

In [263]:
# Train the model
#  YOUR CODE GOES HERE
nn.fit(X_train_scaled,y_train,epochs=20)

Epoch 1/20
804/804 [==============================] - 1s 865us/step - loss: 0.0694 - accuracy: 0.9808
Epoch 2/20
804/804 [==============================] - 1s 796us/step - loss: 0.0094 - accuracy: 0.9970
Epoch 3/20
804/804 [==============================] - 1s 806us/step - loss: 0.0071 - accuracy: 0.9976
Epoch 4/20
804/804 [==============================] - 1s 797us/step - loss: 0.0054 - accuracy: 0.9979
Epoch 5/20
804/804 [==============================] - 1s 816us/step - loss: 0.0045 - accuracy: 0.9982
Epoch 6/20
804/804 [==============================] - 1s 816us/step - loss: 0.0038 - accuracy: 0.9983
Epoch 7/20
804/804 [==============================] - 1s 818us/step - loss: 0.0040 - accuracy: 0.9984
Epoch 8/20
804/804 [==============================] - 1s 829us/step - loss: 0.0026 - accuracy: 0.9990
Epoch 9/20
804/804 [==============================] - 1s 807us/step - loss: 0.0025 - accuracy: 0.9990
Epoch 10/20
804/804 [==============================] - 1s 806us/step - loss: 0.0016 - accuracy: 0.9992
Epoch 11/20
804/804 [==============================] - 1s 822us/step - loss: 0.0028 - accuracy: 0.9994
Epoch 12/20
804/804 [==============================] - 1s 815us/step - loss: 0.0015 - accuracy: 0.9994
Epoch 13/20
804/804 [==============================] - 1s 812us/step - loss: 8.8228e-04 - accuracy: 0.9998
Epoch 14/20
804/804 [==============================] - 1s 805us/step - loss: 8.9184e-04 - accuracy: 0.9997
Epoch 15/20
804/804 [==============================] - 1s 808us/step - loss: 6.5566e-04 - accuracy: 0.9998
Epoch 16/20
804/804 [==============================] - 1s 807us/step - loss: 6.7195e-04 - accuracy: 0.9996
Epoch 17/20
804/804 [==============================] - 1s 813us/step - loss: 5.8188e-04 - accuracy: 0.9998
Epoch 18/20
804/804 [==============================] - 1s 835us/step - loss: 5.1910e-04 - accuracy: 0.9998
Epoch 19/20
804/804 [==============================] - 1s 811us/step - loss: 3.2018e-04 - accuracy: 0.9999
Epoch 20/20
804/804 [==============================] - 1s 805us/step - loss: 2.6968e-04 - accuracy: 0.9999

In [265]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(x_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 2.0925e-04 - accuracy: 1.0000 - 319ms/epoch - 1ms/step
Loss: 0.0002092544746119529, Accuracy: 1.0

In [267]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
filename = 'C:\Users\maha_\OneDrive\Desktop\challenges\Challenge21\Starter_Code\Starter_Code.h5'
nn.save(filename)

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (1205068395.py, line 3)